<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download EconLand</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .nav {
            justify-content: left ;
        }
        .nav ol li {
            color:white ;
            font-size: larger;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="nav">
            <h1>Download Latest Version</h1>
            <ol type="1">
                <li>There are no bugs</li>
                <br>
                <li>Most stable version </li>
                <br>
                <li></li>
            </ol>
        </div>
    </div>
</body>
</html>
<!--Why isnt it working?-->