<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EconLand</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="main">
        <div class="nav">
            <h1>EconLand</h1>
            <ul>
                <li><a href="/download">DOWNLOAD</a></li>
                <li><a href="/guide">GUIDE</a></li>
            </ul>
            
        </div>
        <hr>
        <section>
            <h3>What is the application of this Website</h3>
            <ul>
                <li>
                    This website deals with the work of installing and repairing EconLand PWA.
                </li>
                <li>
                    It also has a guide, which you can visit <a href="/guide">here</a> .
                </li>
            </ul>
            <hr>
        </section>
        <section>
            <h3>What EconLand actually means?</h3>
            <ul>
                <li>
                    The word "EconLand" splits into "Econ" which is the abbrevation to "Economy" <br>
                    and "Land" means a region.
                </li>
                <li>
                    This signifies the main motive of the software, <mark>which is to decouple economic growth
                    with land degradation. </mark>
                </li>
            </ul>
        </section>
    </div>
</body>
</html>